# Terraform
.terraform/
.terraform.lock.hcl

# State files
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*
*.tfstate
*.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Variable files (may contain secrets)
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
*.pem
*.key

# Terraform plan output
*.tfplan

# Ignore AWS CLI / plugins folder accidentally inside infra
infra/aws/

# Ignore local keys
infra/prvtpubkey
infra/prvtpubkey.pub

# Ignore random text files
infra/x.txt
infra/y.txt

